<!DOCTYPE html>
<html>
<head>
    <title>about</title>
<link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div>
    {{>header}}
    <h1>This is from : {{ pageFrom }}</h1>
    </div>
    
    {{>footer}}
</body>

</html>