<!DOCTYPE html>
<html>
<head>
    <title>about</title>
<link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div>
    {{>header}}
    This site is created by Shivendra Kishore. It use the data from mapbox.com and weatherstack.com!
    </div>
    
    {{>footer}}
</body>

</html>