<!DOCTYPE html>
<html>
    <title>Weather</title>
<link rel="icon" href="weather.png">
    <header>
        {{>header}}
    </header>
    <body>
        {{errorMessage}}
        {{>footer}}
    </body>
</html>