<!DOCTYPE html>
<html>
<head>
    <title>help</title>
<link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div>
        {{>header}}
        This is help page

    </div>
    {{>footer}}
</body>

</html>