<!DOCTYPE html>
<html>
<head>
<title>Weather</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="weather.png">


</head>
<body>
    <div class"main-content">
        {{>header}}
        <p>This is the weather page <img style="width: 5%;" src="weather.png"> </p> 
        <form>
            <input name='locations' placeholder="location">
            <button>Search</button>
        </form>
        <b><p id='messageOne'></p></b>
        <p id='messagetwo'></p>
    </div>
    {{>footer}}
    <script src="/js/client-app.js"></script>
</body>

</html>